.search-form {
    margin-left: 20px;
}

.search-button {
    margin-top: 20px;
    margin-left: 20px;
}

#sort {
    margin-left: 400px;
}

.search-result {
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-header {
    background-color: #9aff5b;
}

td, th {
    width: 120px;
    height: 30px;
    border: 1px solid black;
}
