.button-area {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    margin-top: 24px;
}

.info-row {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.info-row label {
    width: 64px;
    display: inline-block;
}

.info-row .info-label {
    text-align: right;
}

